<div class="row">
  <div class="col-md-4">
    <p>Guidelines to remember:</p>
    <ul>
      <li>Now's time to rhyme.</li>
      <li>Never use the letter "A".</li>
      <li>Don't be horrible.</li>
    </ul>
  </div>
  <div class="col-md-8">
    <%= form_for [@topics] do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control', placeholder: "Enter topic name" %>
      </div>
      <div class="form-group">
        <%=f.label :description %>
        <%= f.text_area :description, rows: 8, class: 'form-control', placeholder: "Enter topic description" %>
      </div>
      <div class="form-group">
        <%= f.label :public, class: 'checkbox' do %>
          <%= f.check_box :public %> Public Topic
        <% end %>
      </div>
      <%= f.submit "Save", class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
